{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        hato/hato {:mvn/version "1.0.0"}
        http-kit/http-kit         {:mvn/version "2.8.0"}
        net.clojars.laoc/nostr {:local/root "/home/laoc/coding/nostr-clj"}
        aero/aero                       {:mvn/version "1.1.6"}
        cheshire/cheshire         {:mvn/version "5.10.0"}}
 :aliases {:build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.9.3"}}
                   :ns-default build}}}
